@import url(./colour.css);



#display {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    align-items: center;
}

#display > * {
    z-index: 10;
    width: 25%;
    padding: 5%;
    border: 2px solid var(--fg-colour);
    border-radius: 20%;
    align-items: center;
    text-align: center;
}

@media (max-width: 720px) {
    #display {
        height: 80vh;
        flex-direction: column;
        align-self: center;
    }

    #display > * {
        align-self: center;
        width: 75vw;
    }
    
}

@media (min-width: 720px) {
    #display {
        padding-top: 10%;
        height: 50vh;
        align-items: stretch;
        align-self: center;
    }

}