/* 
 * Author : Alexander Perlock
 * MACID : perlocka
 * Date Created : 02 03 26
 * Date Modified : 10 03 26
 * 
 * Global formating and imports
 */

/* Imports */
@import url(./colour.css);

/* Formating */
* {
    /* background-color: var(--bg-colour); */
    color: var(--fg-colour);
    margin : 0;
    padding : 0;
    border : 0;
    font-size: 2vh + 2vw;
    list-style: none;
}

body {
    background-color: var(--bg-colour);
    overflow: hidden;
}

header, header *, footer, footer * {
    background-color: var(--h-bg-colour);
    color: var(--h-fg-colour);
}

header, footer {
    width: 100vw;
    z-index: 20;
}

header {
    position: relative;
    height: 7.5vh;
}

footer {
    position: absolute;
    height: 2.5vh;
    bottom: 0;
}

header img {
    max-height: 7.5vh;
}

header h1 {
    position: relative;
    padding-top: 0.5%;
    text-align: center;
}

#exit {
    position: absolute;
    top : 0;
    bottom: 0;
    z-index: 30;
}


.main {
    /* https://stackoverflow.com/questions/73546361/how-to-make-a-canvas-proportionally-responsive */
    /* width: 50vmin;
    height: 100vmin; */
    background-color: var(--bg-colour);
    /* color: var(--fg-colour); */
    position: absolute;
    top: 7.5vh;
    left: 0;
}

#display {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    align-items: center;
}

#display > * {
    z-index: 10;
    width: 25%;
    padding: 5%;
    border: 2px solid var(--fg-colour);
    border-radius: 20%;
    align-items: center;
    text-align: center;
}

.trackpad {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    border-radius: 100%;
}

@media (max-width: 720px) {
    #display {
        height: 80vh;
        flex-direction: column;
        align-self: center;
    }

    #display > * {
        align-self: center;
        width: 75vw;
    }
    
}

@media (min-width: 720px) {
    #display {
        padding-top: 10%;
        height: 50vh;
        align-items: stretch;
        align-self: center;
    }

}

.clickable:hover, .clickable:hover * {
    cursor: grab;
    background-color: var(--hover-colour);
}

.hidden {
    display: none;   
}