/* 
 * Author : Alexander Perlock
 * MACID : perlocka
 * Date Created : 02 03 26
 * Date Modified : 10 03 26
 * 
 * Global formating and imports
 */

/* Imports */
@import url(./colour.css);

/* Formating */
* {
    margin : 0;
    padding : 0;
    border : 0;
    /* background-color: #222; */
}

html {
    background-color: var(--bg-colour);
}

body {
    background-color: var(--bg-colour);
    color: var(--fg-colour);

    overflow: hidden;
}

/* canvas {
    max-width: 99.48vw; 
    max-height: 99.48vh;
} */

.main {
    /* https://stackoverflow.com/questions/73546361/how-to-make-a-canvas-proportionally-responsive */
    /* width: 50vmin;
    height: 100vmin; */
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
}

#display {
    display: block;
    align-items: center;
}

#display > img {
    filter: invert(75%);
    /* margin-left: 25%; */
    /* margin-bottom: 10%; */
    z-index: 10;
    width: 33%;
    padding: 12.5%;
}

.trackpad {
    position:absolute;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    border-radius: 100%;
}

@media (min-width: 720px) {
    #display {
        display: flex;
    }

    #display > img {
        margin-top: 10%;
        padding: 12.5%;
    }
    
}